@tailwind base;
@tailwind components;
@tailwind utilities;
/* smooth dark/light mode transition */
html {
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}
/* 3D SPIN WHEEL EFFECT */
@keyframes spin3D {
  0% {
    transform: rotateX(25deg) rotate(0deg);
  }
  80% {
    transform: rotateX(25deg) rotate(var(--rotation));
  }
  90% {
    transform: rotateX(25deg) rotate(calc(var(--rotation) - 4deg));
  }
  100% {
    transform: rotateX(25deg) rotate(calc(var(--rotation) + 2deg));
  }
}

.wheel-3d-spin {
  transform-style: preserve-3d;
  animation: spin3D 4.7s cubic-bezier(0.05, 0.82, 0.24, 1) forwards;
}
.input {
  @apply w-full border border-gray-300 rounded px-3 py-2 bg-gray-50 
         focus:outline-none focus:border-black;
}

.textarea {
  @apply w-full border rounded-xl px-4 py-3 min-h-[100px] focus:outline-none focus:ring-2 focus:ring-green-400;
}
/* Hide scrollbar but allow scroll */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
